
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
!/var/
!/var/data/**
/var/cache
/var/log
/var/tmp/

public/node_modules/*
