{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron shadow">
            <h1>Welcome to <strong>eRepublik</strong> Website of the dead de la morkitu</h1>
            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque blanditiis iste
                laboriosam
                maxime minima minus, nemo, nihil placeat praesentium reiciendis, sapiente sunt suscipit temporibus
                voluptates? Debitis deserunt dolore illum.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="bg-success shadow p-5 mb-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias deleniti dolor eos
                        excepturi nemo nisi numquam officiis, quas quis repellat soluta totam, ullam. Ab autem cum
                        eligendi necessitatibus ut?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-warning shadow p-5 mb-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias deleniti dolor eos
                        excepturi nemo nisi numquam officiis, quas quis repellat soluta totam, ullam. Ab autem cum
                        eligendi necessitatibus ut?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-info shadow p-5 mb-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias deleniti dolor eos
                        excepturi nemo nisi numquam officiis, quas quis repellat soluta totam, ullam. Ab autem cum
                        eligendi necessitatibus ut?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-danger shadow p-5 mb-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias deleniti dolor eos
                        excepturi nemo nisi numquam officiis, quas quis repellat soluta totam, ullam. Ab autem cum
                        eligendi necessitatibus ut?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-primary shadow p-5 mb-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias deleniti dolor eos
                        excepturi nemo nisi numquam officiis, quas quis repellat soluta totam, ullam. Ab autem cum
                        eligendi necessitatibus ut?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-default shadow p-5 mb-5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias deleniti dolor eos
                        excepturi nemo nisi numquam officiis, quas quis repellat soluta totam, ullam. Ab autem cum
                        eligendi necessitatibus ut?</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
