{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<p>
    <a href="{{ path('profile_profile_index') }}" class="btn btn-info">Liste des profiles</a>
</p>
{% endblock %}
