{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1>Profile index</h1>
    <a href="{{ path('profile_profile_new') }}">Create new</a>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Identifier</th>
            <th>UM</th>
{#            <th>Vivant / Actif / Status</th>#}
            <th>Status</th>
            <th>Nb paiement non valide</th>
            <th>Créé le</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody class="profiles">
        {% for profile in profiles %}
            {% include 'includes/profile/row.html.twig' %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profile_profile_new') }}">Create new</a>
{% endblock %}
